<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<h1>Активные пользователи</h1>
<fieldset>
    <table border="1">
        <tr th:each="user : ${users}">
            <td th:text="${user}"></td>
            <td>
                <form th:action="@{/admin/edit(id=${user.getId()})}" method="GET">
                    <input type="hidden" name="id" th:value="${user.getId()}" />
                    <input type="submit" value="Изменить"/>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/remove(id=${user.getId()})}" method="POST">
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
    <hr/>
    <form th:action="@{admin/new}" method="GET">
        <button type="submit">Добавить пользователя</button>
    </form>
    <hr>
    <table>
        <tr>
            <td>
                <form th:action="@{/user}" method="GET">
                    <button type="submit">Мой профиль</button>
                </form>
            </td>
            <td>
                <form th:action="@{/logout}" method="POST">
                    <button type="submit">Выход</button>
                </form>
            </td>
        </tr>
    </table>
</fieldset>
</body>
</html>