.navbar {
    padding: 0.25rem;
}

.small-select {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-body {
    width: 40%;
    left: 30%;
    top: 30%;
}

.modal-dialog {
    max-width: 40%;
}

