<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Аутентификация</title>
</head>
<body>
<form name="f" method="post" action="/process_login">
  <table>
    <tr>
      <td><label for="email">Введите почту:</label></td>
      <td><input type="email" name="email" id="email"/></td>
    </tr>
    <tr>
      <td><label for="password">Введите пароль:</label></td>
      <td><input type="password" name="password" id="password"/></td>
    </tr>
  </table>
  <br/>
  <button type="submit">Войти</button>
  <div th:if="${param.error}" style="color: red">
    Неправильные имя или пароль!
  </div>
</form>
</body>
</html>

