<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Страница профиля</title>
</head>
<body>
<h1>Добро пожаловать, <span th:text="${user.firstName + ' ' + user.lastName}"></span>!</h1>
<p>Ваша почта: <span th:text="${user.username}"></span></p>
<p>Ваш возраст: <span th:text="${user.age}"></span></p>
<div sec:authorize="hasRole('ADMIN')">
    <form th:action="@{/admin}" method="GET">
        <button type="submit">Список всех пользователей</button>
    </form>
</div>
<hr>
<form th:action="@{/logout}" method="POST">
    <button type="submit">Выход</button>
</form>
</body>
</html>